//global styles

/* comfortaa-300 - cyrillic_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url("../../fonts/comfortaa-v28-cyrillic_latin-300.woff2") format("woff2"),
    url("../../fonts/comfortaa-v28-cyrillic_latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-regular - cyrillic_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src:
    local(""),
    url("../../fonts/comfortaa-v28-cyrillic_latin-regular.woff2") format("woff2"),
    url("../../fonts/comfortaa-v28-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* comfortaa-700 - cyrillic_latin */
@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src:
    local(""),
    url("../../fonts/comfortaa-v28-cyrillic_latin-700.woff2") format("woff2"),
    url("../../fonts/comfortaa-v28-cyrillic_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* play-regular - cyrillic_latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src:
    local("Play Regular"),
    local("Play-Regular"),
    url("../../fonts/play-v11-cyrillic_latin-regular.woff2") format("woff2"),
    url("../../fonts/play-v11-cyrillic_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* play-700 - cyrillic_latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src:
    local("Play Bold"),
    local("Play-Bold"),
    url("../../fonts/play-v11-cyrillic_latin-700.woff2") format("woff2"),
    url("../../fonts/play-v11-cyrillic_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  font-family: "Comfortaa", sans-serif;
  color: $color-secondary;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1115px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}
