.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-primary {
    padding: 20px 0px;
}

.navigation-content {
    display: flex;
    flex-direction: column;
}

.primary-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    & li {
        & a {
            text-decoration: none;
            font-size: 18px;
            color: $color-secondary;
            font-weight: 300;
            position: relative;
            &::after {
                content: "";
                display: block;
                background-color: #673b11;
                height: 2px;
                width: -webkit-fill-available;
                margin-top: 30px;
                position: absolute;
                opacity: 0;
                transition: opacity 200ms linear;
            }
            &:hover {
                font-weight: 700;
                &::after {
                    opacity: 1;
                }
            }
            &:focus {
                font-weight: 700;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    & li:not(:last-child) {
        margin-right: 30px;
    }
}